*{
    margin: 0;
    padding: 0;
}

.container{
    width: 600px;
    margin-top: 50px;
    margin-left: 100px;
    padding: 50px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap:50px;
}


#btn{
    padding: 8px 30px;
    margin-left: 20px;
    background-color: #f8da5b;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 4px 4px 1px black;
    border: 3px solid black;
}